node_modules
*.env*
*.log
.DS_Store
*.pem
dist
.idea
.idea/*
.novel
.turbo
.next
.vercel
*.tsbuildinfo
next-env.d.ts
.env.sentry-build-plugin
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
state.json
